body {
  font-family: Arial, sans-serif;
  padding: 40px;
  background-color: white;
}

.recipe-card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

/*Nav styling*/
nav {
    background: var(--deepred);

    text-align: left;
    word-spacing: 5px;
    font-size: larger;
    color: var(--white);

    width: 100%;
    padding: 10px 20px 10px 20px;

    box-sizing: border-box;
}