
.navbar {
  width: 100%;
  background: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 35px 70px;

  box-sizing: border-box;

  border-bottom: 1px solid #ddd;

  position: sticky;
  top: 0;

  z-index: 1000;
}

.nav-title {
  font-size: 6rem;
  font-family: serif;
}

.nav-links {
  display: flex;
  gap: 35px;
}

.nav-links a {
  text-decoration: none;
  color: black;

  font-size: 1.8rem;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.page-title {
  
  font-size: 7.5rem;
  font-family: serif;
  text-align: center;
  margin-bottom: 40px;
  position: sticky;
}

body {
  font-family: Arial, sans-serif;
  padding: 40px;
  background-color: white;
}

/*Recipe styling*/
.recipe-card {
  background: #cbeafaf3;
  padding: 30px;
  margin-bottom: 40px;
  border-radius: 10px;
}

.recipe-content {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  gap: 40px;
  align-items: stretch;
}

.recipe-text {
  flex: 2;
  font-size: 2.3rem;
  line-height: 1.6;
}

.recipe-text h2 {
  font-size: 2.2rem;
  margin-top: 0;
}

.recipe-text h3 {
  font-size: 3rem;
  margin-top: 30px;
}

.recipe-text ul {
  padding-left: 45px;
}

.recipe-image {
  flex: 1;
  display: flex;
}
.recipe-image img {
  max-width: 100%;
  border-radius: 10px;
  object-fit: cover;
  border-radius: 12px;
}

.recipe-left {
  font-size: 2.2rem;
  line-height: 1.6;
}

.recipe-left h2 {
  font-size: 5.2rem;
  margin-top: 0;
}

.recipe-middle {
  font-size: 2.2rem;
  line-height: 1.8;
}

/*Nav styling*/

#navbar-container {
  position: sticky;
  top: 0;
  z-index: 1000;
}
.navbar {
  width: 100%;
  background: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 35px 70px;

  box-sizing: border-box;

  border-bottom: 1px solid #ddd;

}

.nav-title {
  font-size: 6rem;
  font-family: serif;
}

.nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: rgb(0, 0, 0);

  font-size: 1.8rem;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.nav-links a:hover {
  opacity: 0.7;
}

/* Serving buttons */
.serving-buttons {
  margin-bottom: 20px;
}

.serving-buttons button {
  padding: 12px 20px;
  font-size: 1.4rem;
}

.serving-buttons button:hover {
  opacity: 0.8;
}